.register-container {
  width: 100%;
  min-height: 100vh;
  background: #f96f6f;
  background-image: url("/pattern-bg.svg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  width: 85%;
  max-width: 1200px;
  background: #fff;
  border-radius: 15px;
  display: flex;
  padding: 40px;
  gap: 40px;
}

.register-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-img {
  width: 100%;
  max-width: 380px;
}

.register-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.register-right h2 {
  margin-bottom: 20px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-form input {
  padding: 14px;
  border-radius: 6px;
  border: 1px solid #cfcfcf;
  outline: none;
  font-size: 15px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.register-btn {
  padding: 12px;
  border: none;
  background: #ff776b;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.register-btn:hover {
  background: #ff544c;
}

.register-footer {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.register-footer a {
  color: #007bff;
}
