/* === Контейнер списка === */
.todo-list {
  background: #f5f8ff;
  border-radius: 16px;
  padding: 24px 28px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(161, 163, 171, 0.15);
  min-width: 466px;
  box-sizing: border-box;
}

/* === Заголовок блока === */
.todo-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

.todo-list__title-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.todo-list__icon {
  font-size: 20px;
  color: #a1a3ab;
}

.todo-list__title {
  font-size: 15px;
  font-weight: 600;
  color: #ff6767;
}

/* === Кнопка Add task === */
.todo-list__add {
  display: flex;
  align-items: center;
  gap: 6px;
  background: none;
  border: none;
  color: #a1a3ab;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.todo-list__add-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: #e03e3e;
  font-size: 12px;
}

.todo-list__add:hover {
  opacity: 0.7;
}

/* === Секция даты под заголовком === */
.todo-list__date-section {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  color: #444;
  margin-bottom: 18px;
}

.todo-list__day {
  font-weight: 500;
  color: #000;
}

.todo-list__dot {
  color: #aaa;
}

.todo-list__today {
  color: #999;
}
