.dashboard__layout {
  margin-top: 56px;
  /* display: flex;
  flex: 1;
  min-height: calc(100vh - 80px); 
  background-color: #f5f8ff; */
}

.dashboard__content {
  /* flex: 1;
  padding: 2rem;
  background-color: #fff;
  border-radius: 16px 0 0 0;
  box-shadow: inset 0 0 0 1px #f0f0f0; */
}
