.dashboard__layout {
  padding-top: 56px;
  /* gap: 56px; */
  display: flex;
  flex: 1;
  /* background-color: #f5f8ff; */
  background-color: #f5f8ff;
}

.dashboard__content {
  flex: 1;
  background-color: #f5f8ff;
}
