.dashboard__layout {
  display: flex;
  flex: 1;
  padding-top: 150px;
  background-color: #f5f8ff;
  min-height: 100%; /* растягивается по контенту */
}

.dashboard__content {
  flex: 1;
  background-color: #f5f8ff;
}
