.dashboard-page {
  /* padding: 2rem; */
  padding: 0 76px;
  background-color: #f5f8ff;
  min-height: 100%;
}

.dashboard-page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.dashboard-page__title {
  font-size: 36px;
  font-weight: 500;
}

.dashboard-page__title span {
  color: #000;
}

.dashboard-page__team {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dashboard-page__avatars {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 4px;
}

.dashboard-page__avatar {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  border: 2px solid white;
  object-fit: cover;
}

.dashboard-page__invite {
  background: white;
  border: 1px solid #ff5e5e;
  color: #ff5e5e;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  display: flex; /* Добавлено */
  align-items: center; /* Добавлено */
  gap: 6px; /* Расстояние между иконкой и текстом */
}

.dashboard-page__invite:hover {
  background-color: #ffecec;
}

.dashboard-page__invite-icon {
  font-size: 1rem; /* Размер иконки */
  display: inline-block;
}
