.task-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 18px 20px;
  border: 1.5px solid rgba(161, 163, 171, 0.35);
  border-radius: 12px;
  background-color: #f5f8ff;
  margin-bottom: 14px;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  /* width: fit-content; */
  max-width: 100%; /* 👈 не выйдет за границы контейнера */
}

.task-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  transform: translateY(-1px);
}

/* ⋯ Меню */
.task-card__menu {
  position: absolute;
  top: 0;
  right: 12px;
  color: #a1a3ab;
  font-size: 32px;
  cursor: pointer;
}

/* === Верхняя часть: текст + картинка === */

.task-card__top {
  display: flex;
  justify-content: space-between;
}

/* === Левая часть === */
.task-card__left {
  position: relative;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.task-card__circle {
  position: absolute;
  top: 3px;
  left: 0;
  width: 14px;
  height: 14px;
  border: 2px solid;
  border-radius: 50%;
}

.task-card__title {
  font-size: 16px;
  font-weight: 600;
  color: #222;
  margin: 0;
  max-width: 232px; /* 👈 подбери под макет */
  white-space: normal; /* разрешает перенос */
  word-break: break-word;
}

.task-card__desc {
  font-size: 14px;
  color: #555;
  line-height: 1.45;
  margin: 0;

  max-width: 213px; /* 👈 подбери под макет */
  white-space: normal; /* разрешает перенос */
  word-break: break-word;
}

/* === Правая часть (картинка) === */
.task-card__right {
  flex-shrink: 0;
}

.task-card__img {
  width: 88px;
  height: 88px;
  border-radius: 10px;
  object-fit: cover;
  display: block;
  margin-top: 14px;
}

/* === Нижняя строка (priority, status, date) === */
.task-card__bottom {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 11px;
  color: #777;
  padding-top: 10px;
  /* margin-top: 8px; */
  white-space: nowrap;

  /* 👇 добавляем смещение на тот же отступ, что и текст */
  margin-left: 20px;
}

.task-card__priority {
  color: #0088cc;
  font-weight: 500;
}

.status--red {
  color: #ff4444;
}

.status--blue {
  color: #007bff;
}

.status--green {
  color: #00c851;
}

.task-card__date {
  color: #999;
  font-size: 11px;
  white-space: nowrap;
}

/* ✅ Для Completed карточек */
.task-card--completed {
  background: #fff;
}

/* 🟡 Для Vital Tasks */
.task-card--vital {
  padding: 10px;
  box-sizing: border-box;
  width: fit-content;
}

/* === Large Screens (≥1400px) === */
@media (min-width: 1400px) {
  .task-card {
    padding: 24px 20px;
  }
  .task-card--vital {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
  }
}

/* 📱 Tablets */
@media (max-width: 1200px) {
  .task-card {
    padding: 20px 16px;
  }

  .task-card--vital {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
  }

  .task-card__bottom {
    flex-wrap: wrap;
    white-space: normal;
    margin-left: 16px;
  }
}
