.categories-page {
  background-color: #f5f8ff;
  min-height: 100%;
  padding: 20px 28px;
  border-radius: 16px;
}

.categories-page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.categories-page__title {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  position: relative;
  display: inline-block;
  padding-bottom: 4px; /* отступ под линию */
}

/* 👇 красная линия под заголовком */
.categories-page__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 36px;
  height: 2px;
  background-color: #ff6767;
  border-radius: 2px;
}

.categories-page__back {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  text-decoration: underline;
}

.categories-page__back:hover {
  text-decoration: underline;
}

.categories-page__add-btn {
  background: #f24e1e;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 20px;
}

.categories-page__add-btn:hover {
  opacity: 0.9;
}

.categories-page__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
